%btn {
    padding: 11px 18px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 600;
}
.btn-secondary {
    @extend %btn;
    background-color: transparent;
    color: #1565D8;
}
.btn-primary {
    @extend %btn;
    background-color: #1565D8;
    color: #fff;
}